* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    color: rgba(266,266,266,0.5);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0,0,0,0.7);
}

.logo {
    letter-spacing: 5px;
    font-size: 25px;
    cursor: pointer;

}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 4px;
    transition: all 0.3s;
}



@media(max-width: 768px) {

    /* body {
        display: none;
    } */
    .nav-links {
        position: fixed;
        right: -50%;
        width: 50%;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0,0,0,0.7);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        transition: right 0.5s;
    }

    .change .nav-links {
        right: 0;
    }

    .burger {
        display: block;
    }

    .nav-links li a {
        transition: all 0.5s;
    }

    .nav-links li a:hover {
        color: white;
        font-size: 16px;
    }

    .change .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
    .change .line2 {
        opacity: 0;
        visibility: hidden;
    }
    
    .change .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}